<div class="container">
  <h2>所有訂單列表</h2>
  <form action="/admin/orders/search" method="GET">
    <div class="form-inline">
      <input type="search" class="form-control" id="search" name="q" placeholder="查詢訂單..." style="width: 225px">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form>

  <br />
  <a href="/admin/users">Users 使用者管理</a>
  <span>|</span>
  <a href="/admin/orders">Orders 訂單管理</a>
  <span>|</span>
  <a href="/admin/products">Products 商品管理</a>
  <span>|</span>
  <a href="/admin/coupons">Coupons 折扣券管理</a>
  <span>|</span>
  <a href="/admin/contact">Contact 編輯店家資訊</a>
  <br />
  <br />
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">編號</th>
        <th scope="col">出貨狀態</th>
        <th scope="col">訂購者</th>
        <th scope="col">訂單金額</th>
        <th scope="col">操作選項</th>
      </tr>
    </thead>
    <tbody>
      {{#each orders}}
      <tr>
        <th scope="row">{{this.id}}</th>
        <td>{{this.shipping_status}}</td>
        <td>{{this.User.name}}</td>
        <td>{{this.amount}}</td>
        {{#if this.isAdmin}}
        <td>Admin</td>
        <td>
          <form action="#" method="POST" style="display: inline;">
            <button type="submit" class="btn btn-outline-secondary">Set as User</button>
          </form>
        </td>
        {{else}}
        <td>User</td>
        <td>
          <form action="#" method="POST" style="display: inline;">
            <button type="submit" class="btn btn-outline-primary">Set as Admin</button>
          </form>
        </td>
        {{/if}}
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>