<div class="container">
  <h2 style="color: #023B4F">購物車</h2>
  <div class="row">
    <div class="col-md-9">
      <div class="card">
        <table class="table table-hover">
          <thead style="background-color: #013b4f; color: #bc955c ">
            <tr>
              <th scope="col" style="width: 40%">飲料</th>
              <th scope="col" style="width: 20%">單價</th>
              <th scope="col" style="width: 20%">數量</th>
              <th scope="col" style="width: 20%">單項總價</th>
            </tr>
          </thead>
          <tbody>
            {{#each cart.CartProducts}}
            <tr>
              <td>
                <div class="row">
                  <div class="col-4"><img src={{this.image}} class="img-thumbnail img-sm"></div>
                  <div class="col-8">
                    <h4 class="title text-truncate">{{this.name}}</h4>
                    <div>
                      <span>{{this.CartItem.sugar}}、{{this.CartItem.ice}}</span>
                    </div>
                    <div class="mt-2">
                      <form action="/cartItem/{{this.CartItem.id}}?_method=DELETE" method="POST"
                        style="display: inline">
                        <button type="submit" class="btn" name="id"
                          style="background-color: #023B4F; color: white; font-size: small">Delete</button>
                      </form>

                      <a href="/product/{{this.id}}/wish">
                        <button type="button" class="btn" name="wish"
                          style="background-color:red; color: white; font-size: small"><i
                            class="fa fa-heart mr-2"></i>加入願望清單</button>
                      </a>
                    </div>
                  </div>
                </div>
              </td>
              <td>
                <div>
                  <h6>{{this.price}}</h6>
                </div>
              </td>
              <td>
                <div style="display: flex;">
                  <form action="/cartItem/{{this.CartItem.id}}/sub" method="POST">
                    <button type="submit" class="btn btn-sm btn-outline-secondary">-</button>
                  </form>
                  <span style="margin: 0 20px;">
                    {{this.CartItem.quantity}}
                  </span>
                  <form action="/cartItem/{{this.CartItem.id}}/add" method="POST">
                    <button type="submit" class="btn btn-sm btn-outline-secondary">+</button>
                  </form>
                </div>
              </td>
              <td>
                <div>
                  <h6>{{#multiplication this.price this.CartItem.quantity}}{{/multiplication}}</h6>
                </div>
              </td>
            </tr>
            {{/each}}
          </tbody>
        </table>
        <div class="card-footer">
          <h4>總共{{totalQuantity}}杯</h4>
          <h4>Total: {{totalPrice}}</h4>
        </div>

      </div>
      <div style="text-align:right" class="mt-2">
        <a href="/shipping-info/:userId"><button class="btn"
            style="background-color: #023B4F; color: white;">下一步</button></a>
      </div>
    </div>
  </div>
</div>