<div class="container mb-3">
  <div class="search d-flex justify-content-end">
    <div class="dropdown mr-3 mt-2">
      <a class="btn btn-secondary dropdown-toggle month-sort-menu" href="#" role="button" id="dropdownMenuLink"
        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {{categoryFilterMenu}}
      </a>
      <div class="dropdown-menu month" aria-labelledby="dropdownMenuLink">
        <a class="dropdown-item"
          href="/?category=&priceRange={{price}}&sortKey={{sortKey}}&sortValue={{sortValue}}">全部</a>
        {{#each catMenu}}
        <a class="dropdown-item"
          href="/?category={{this.id}}&priceRange={{../price}}&sortKey={{sortKey}}&sortValue={{sortValue}}">{{this.name}}</a>
        {{/each}}
      </div>
    </div>
    <!--        價格       -->
    <div class="dropdown mr-3 mt-2">
      <a class="btn btn-secondary dropdown-toggle month-sort-menu" href="#" role="button" id="dropdownMenuLink"
        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {{priceFilterMenu}}
      </a>
      <div class="dropdown-menu month" aria-labelledby="dropdownMenuLink">
        <a class="dropdown-item"
          href="/?category={{categoryFilter}}&priceRange=&sortKey={{sortKey}}&sortValue={{sortValue}}">全部</a>
        {{#each priceRange}}
        <a class="dropdown-item"
          href="/?category={{../categoryFilter}}&priceRange={{this.forQuery}}&sortKey={{sortKey}}&sortValue={{sortValue}}">{{this.forOption}}</a>
        {{/each}}
      </div>
    </div>
    <div class="dropdown mt-2">排序：
      <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        價格(高到低)
      </a>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <a class="dropdown-item"
          href="/?category={{categoryFilter}}&priceRange={{price}}&sortKey=price&sortValue=DESC">價格(高到低)</a>
        <a class="dropdown-item"
          href="/?category={{categoryFilter}}&priceRange={{price}}&sortKey=price&sortValue=ASC">價格(低到高)</a>
        <a class="dropdown-item"
          href="/?category={{categoryFilter}}&priceRange={{price}}&sortKey=rating&sortValue=-1">評價(高到低))</a>
        <a class="dropdown-item"
          href="/?category={{categoryFilter}}&priceRange={{price}}&sortKey=rating&sortValue=1">評價(低到高)</a>
      </div>
    </div>
    <div class="row" id="search-bar">
      <div class="col-12">
        <form action="/">
          <div class="input-group mt-2 ml-3">
            <input type="text" name="search" class="form-control" placeholder="請輸入關鍵字" aria-label="drinks"
              aria-describedby="search-button">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" type="submit" id="search-button">Search</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="row">
    <!--
    <div class="col-md-2">
      <section class="category mt-3">
        <h4>分類</h4>
        {{#each category}}
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="{{this.name}}">
          <label class="form-check-label" for="inlineCheckbox1">{{this.name}}</label>
        </div>
        {{/each}}
      </section>
      <section class="category mt-3">
        <h4>價格</h4>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
          <label class="form-check-label" for="inlineCheckbox1">30以下</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
          <label class="form-check-label" for="inlineCheckbox2">30-40</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
          <label class="form-check-label" for="inlineCheckbox3">40-50</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="inlineCheckbox4" value="option4">
          <label class="form-check-label" for="inlineCheckbox4">50-60</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="inlineCheckbox5" value="option5">
          <label class="form-check-label" for="inlineCheckbox5">60以上</label>
        </div>
      </section>
    </div>
    -->
    <div class="col-md-12">
      {{#each category}}
      <h3 class="mt-3 cat-title">{{this.name}}</h3>
      <hr>
      <div class="row">
        {{#each ../drinks}}
        {{#ifCond this.Category.name ../this.name}}
        <div class="col-md-4 mb-2">
          <div class="card">
            <div class=image>
              <a href="/product/{{this.id}}">
                <img src={{this.image}} class="card-img-top" alt="{{this.name}}">
              </a>
              <button class="btn btn-danger float-left ml-1 mt-2" style="width: 48%">喜歡</button>
              <button class="btn btn-danger float-right mr-1 mt-2" style="width: 48%">加入購物車</button>
            </div>
            <div class="card-body">
              <h5 class="card-title">{{this.name}}</h5>
              <div class="ratings">
                <div class="empty_star">★★★★★</div>
                <div class="full_star" style="width: {{this.rating}}%">★★★★★</div>
              </div>
              <p class="card-text">{{this.description}}</p>
              <p class="float-right">${{this.price}}</p>
            </div>
          </div>
        </div>
        {{/ifCond}}
        {{/each}}
      </div>
      {{/each}}
    </div>
  </div>
  <style>
    .ratings {
      position: relative;
      vertical-align: middle;
      display: inline-block;
      color: #ddd;
      /*背景星星顏色*/
      overflow: hidden;
      font-size: 20px;
      /*調整字體大小可放大縮小星星*/
      text-shadow: 0px 1px 0 #999;
    }

    .full_star {
      /*調整寬度可變更星等*/
      position: absolute;
      left: 0;
      top: 0;
      white-space: nowrap;
      overflow: hidden;
      color: #d56a16;
      /*前景星星顏色*/
    }
  </style>