<div class="container">
  <h2>運送資訊</h2>


  <div class="row">
    <div class="col-md-9">
      <hr style="border: 5px solid #023B4F; margin-bottom: 1px">
      <hr style="border: 1px solid #023B4F; margin: 5px 0px">
      <h4 class="p-0">運送方式</h4>
      <hr style="border: 1px solid #023B4F; margin: 5px 0px">
      <hr style="border: 5px solid #023B4F; margin-top: 1px">
      <div class="card">
        <form action="/order" method="POST" class="mb-3">
          <div class="form-check form-check-inline m-2">
            <input class="form-check-input" type="radio" name="shipping_method" id="shipping1" value="外送" required>
            <label class="form-check-label" for="shipping1">外送</label>
          </div>
          <div class="form-check form-check-inline m-2">
            <input class="form-check-input" type="radio" name="shipping_method" id="shipping2" value="自取" required>
            <label class="form-check-label" for="shipping1">自取</label>
          </div>
          <div class="form-group m-2">
            <label for="name">姓名</label>
            <input type="text" class="form-control" id="name" name="name" aria-describedby="nameHelp"
              placeholder="請輸入收件人姓名" required>
          </div>
          <div class="form-group m-2">
            <label for="phone">電話</label>
            <input type="text" class="form-control" id="phone" name="phone" aria-describedby="phoneHelp"
              placeholder="請輸入收件人電話" required>
          </div>
          <div class="form-group m-2">
            <label for="address">地址</label>
            <input type="text" class="form-control" id="address" name="address" aria-describedby="addressHelp"
              placeholder="請輸入收件人地址" required>
          </div>
      </div>
    </div>
    <nav class="col-md-3 bg-light sidebar">
      <div class="sidebar-sticky">
        <div>
          <hr style="border: 5px solid #023B4F; margin-bottom: 1px">
          <hr style="border: 1px solid #023B4F; margin: 5px 0px">
          <h4 class="p-0">Order Summary</h4>
          <hr style="border: 1px solid #023B4F; margin: 5px 0px">
          <hr style="border: 5px solid #023B4F; margin-top: 1px">
          <div>
            <span>總共: </span><span id="total-quantity">{{totalQuantity}} 杯</span>
          </div>
          <hr>
          <div>
            <span>訂購價格: </span><span id="total-price">{{totalPrice}}</span>
          </div>
          {{#if discountPrice}}
          <hr>
          <div>
            <span>折扣後價格: </span><span id="discount-price">{{discountPrice}}</span>
          </div>
          {{/if}}
          <hr>
          <div>
            <span>運費: </span><span id="shipping-fee">0</span>
          </div>
          <hr>
          <div>
            <span>總價: </span><span id="final-amount">0</span>
          </div>
        </div>
    </nav>
  </div>
  <div style="text-align:right" class="mt-2">
    <button type="submit" class="btn m-2" style="background-color: #023B4F; color: white;"> 下一步
    </button>
  </div>
  <input type="hidden" name="cartId" value="{{cartId}}">
  <input type="hidden" name="amount">
  <input type="hidden" name="shipping_status" value="0">
  <input type="hidden" name="payment_status" value="0">
  <input type="hidden" name="couponId" value={{#if coupon}} {{coupon.id}} {{else}}0{{/if}}>
  <input type="hidden" name="discountPrice" value={{#if discountPrice}} {{discountPrice}} {{else}} "no-discount"
    {{/if}}>
  </form>
</div>