<div class="container">
  <h2 style="color: #023B4F">訂單與付款</h2>
  <form action="/check-coupon" method="POST" class="mb-3">
    <div class="row">
      <div class="col-md-9">
        <hr style="border: 5px solid #023B4F; margin-bottom: 1px">
        <hr style="border: 1px solid #023B4F; margin: 5px 0px">
        <h4 class="p" style="color: #023B4F">訂單資訊</h4>
        <hr style="border: 1px solid #023B4F; margin: 5px 0px">
        <hr style="border: 5px solid #023B4F; margin-top: 1px">
        <div>
          總共?項
          <table class="table table-hover">
            <thead style="background-color: #013b4f; color: #bc955c">
              <tr>
                <th scope="col" style="width: 40%">Product</th>
                <th scope="col" style="width: 20%">Price</th>
                <th scope="col" style="width: 20%">Quantity</th>
                <th scope="col" style="width: 20%">Total Price</th>
              </tr>
            </thead>
            <tbody>
              {{!-- {{#each }} CartItems --}}
              <tr>
                <td>
                  <div class="row">
                    <div class="col-4"><img
                        src="https://images.pexels.com/photos/3090274/pexels-photo-3090274.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                        class="img-thumbnail img-sm"></div>
                    <div class="col-8">
                      <h4 class="title text-truncate">綠茶</h4>
                      <div>
                        半糖、少冰
                      </div>
                    </div>
                  </div>
                </td>
                <td>
                  <div>
                    <h6>傳進來的單價</h6>
                  </div>
                </td>
                <td>
                  <div style="display: flex;">
                    <span style="margin: 0 20px;">
                      {{this.OrderItem.quantity}}傳進來的數量
                    </span>
                  </div>
                </td>
                <td>
                  <div>
                    <h6>傳進來的單價*quantity</h6>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="row">
                    <div class="col-4"><img
                        src="https://images.pexels.com/photos/3090274/pexels-photo-3090274.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                        class="img-thumbnail img-sm"></div>
                    <div class="col-8">
                      <h4 class="title text-truncate">綠茶</h4>
                      <div>
                        半糖、少冰
                      </div>
                    </div>
                  </div>
                </td>
                <td>
                  <div>
                    <h6>傳進來的單價</h6>
                  </div>
                </td>
                <td>
                  <div style="display: flex;">
                    <span style="margin: 0 20px;">
                      {{this.OrderItem.quantity}}傳進來的數量
                    </span>
                  </div>
                </td>
                <td>
                  <div>
                    <h6>傳進來的單價*quantity</h6>
                  </div>
                </td>
              </tr>
              {{!-- {{/each}} --}}

            </tbody>
          </table>
          <hr>
          <div>
            <hr style="border: 5px solid #023B4F; margin-bottom: 1px">
            <hr style="border: 1px solid #023B4F; margin: 5px 0px">
            <h4 class="p-0" style="color: #023B4F">收件資訊</h4>
            <hr style="border: 1px solid #023B4F; margin: 5px 0px">
            <hr style="border: 5px solid #023B4F; margin-top: 1px">
            自取 or 收件人資訊
          </div>
        </div>

      </div>
      <nav class="col-md-3 bg-light sidebar pt-3">
        <div class="sidebar-sticky">
          <div>
            <input type="text" placeholder="請輸入折扣券碼" name="coupon-code" value="">
            <button type="submit" class="btn btn-warning">使用</button>
            {{#if order.CouponId}}
            <div style="font-size: small">
              {{!-- 提醒使用者折扣碼是否valid --}}
              CouponXXXXXXX 有效
            </div>
            {{else}}
            <div style="font-size: small">
              {{!-- 提醒使用者折扣碼是否valid --}}
              您輸入的折扣券無效
            </div>
            {{/if}}
          </div>
          <hr>
          <div>
            <h4>Order Summary</h4>
            <div>訂購價格: 30 {{totalPrice}}</div>
            <div>折扣後價格: 20 {{discountPrice}}</div>
          </div>
          <hr>
          <div>
            運費: 0
          </div>
          <hr>
          <div>
            總價: 20 {{order.amount}}
          </div>
        </div>
      </nav>
    </div>
  </form>
  <div class="m-1" style="text-align: right">
    <form name='Spgateway' action='{{tradeInfo.PayGateWay}}' method="POST">
      <button type="submit" class="btn btn-primary">結帳去</button>
      <input type="hidden" name="MerchantID" value="{{tradeInfo.MerchantID}}"><br>
      <input type="hidden" name="TradeInfo" value="{{tradeInfo.TradeInfo}}"><br>
      <input type="hidden" name="TradeSha" value="{{tradeInfo.TradeSha}}"><br>
      <input type="hidden" name="Version" value="{{tradeInfo.Version}}"><br>

    </form>
  </div>
</div>