<div class="container">
  <div class="row mt-3">
    <div class="image col-md-5">
      <img src={{product.image}} alt="" style="width: 80%">
      <div class="buttons-and-rating d-flex justify-content-between mt-3" style="width: 80%">
        <div class="ratings">
          <div class="empty_star">★★★★★</div>
          <div class="full_star" style="width: 83%">★★★★★</div>
        </div>
        <button class="btn btn-primary">分享</button>
        <button class="btn btn-danger">喜歡</button>
      </div>
    </div>
    <div class="col-md-7">
      <form action="/buynow" method="POST" class="buy">
        <h3 class="my-3">{{product.name}}</h3>
        <h4 style="color: rgb(202, 128, 31)">價格: {{product.price}}</h4>
        <section class="sugar mb-3">
          <h4>甜度</h4>
          <div class="btn-group btn-group-toggle" data-toggle="buttons">
            {{#each sugar}}
            <label class="btn btn-outline-info">
              <p class="mb-0">{{this}}</p>
              <input type="radio" name="sugar" value="{{this}}" style="display: none" />
            </label>
            {{/each}}
            <label class="btn btn-outline-info active">
              <p class="mb-0">正常甜</p>
              <input type="radio" name="sugar" checked value="正常甜" style="display: none" />
            </label>
          </div>
        </section>

        <section class="ice mb-3">
          <h4>冰塊</h4>
          <div class="btn-group btn-group-toggle" data-toggle="buttons">
            {{#each ice}}
            <label class="btn btn-outline-primary">
              <p class="mb-0">{{this}}</p>
              <input type="radio" name="ice" value="{{this}}" style="display: none" />
            </label>
            {{/each}}
            <label class="btn btn-outline-primary active">
              <p class="mb-0">正常</p>
              <input type="radio" name="ice" value="正常" checked style="display: none" />
            </label>
          </div>
        </section>
        <div class="form-group">
          <div style="display: inline-block">
            <label for="amount" class="mr-2">
              <h4>數量</h4>
            </label>
          </div>
          <div style="display: inline-block; width: 10%">
            <input type="number" class="form-control" name="amount" id="amount" value="1" min="1">
          </div>
        </div>
        <input type="hidden" name="productId" value="{{product.id}}" />
        <button type="submit" class="btn btn-info to-cart">加入購物車</button>
        <button type="submit" class="btn btn-info buy-now">直接購買</button>
      </form>
    </div>
  </div>
  <div class="description">
    <h2 class="mt-4">商品介紹</h2>
    <hr>
    <span><a
        href="/?category={{product.Category.id}}&priceRange=&sortKey=&sortValue=">#{{product.Category.name}}</a></span>
    <p>{{product.description}}</p>
  </div>
  <div class="feedback">
    <h2 class="mt-4">客戶評價</h2>
    <hr>
    {{#each modComments}}
    <h5 class="mb-1">{{this.User.name}}</h5>
    <div class="ratings">
      <div class="empty_star" style="font-size: 20px">★★★★★</div>
      <div class="full_star" style="width: {{this.ranking}}%; font-size: 20px">★★★★★</div>
    </div>
    <form action="/comments/{{this.id}}?_method=PUT" method="POST">
      <div class="comment-wrapper">
        <p class="custom-comment">{{this.content}}</p>
      </div>
      <input type="hidden" name="commentId" value="{{this.id}}">
      {{#ifCond this.User.id ../user.id}}
      <button type="button" class="edit-comment btn btn-sm btn-primary">編輯</button>
      <button type="submit" class="update-comment btn btn-sm btn-primary d-none">更新</button>
      <button type="button" class="cancel-update btn btn-sm btn-primary d-none">取消</button>
      {{/ifCond}}
      <input type="hidden" name="productId" value="{{../product.id}}">
    </form>
    {{#each this.Replies}}
    <div class="pl-4">
      <a href="">#{{this.User.name}}</a>
      <form action="/admin/replies/{{this.id}}?_method=PUT" method="POST">
        <div>
          <p>{{this.content}}</p>
        </div>
        {{#if ../../user.role}}
        <button type="button" class="edit-reply btn btn-info btn-sm">編輯</button>
        <button type="submit" class="update-reply btn btn-sm btn-primary d-none">更新</button>
        <button type="button" class="cancel-update-reply btn btn-sm btn-primary d-none">取消</button>
        <input type="hidden" name="productId" value="{{../../product.id}}" />
        <input type="hidden" name="replyId" value="{{this.id}}">
      </form>
      <form action="/admin/replies/{{this.id}}?_method=DELETE" method="POST">
        <input type="hidden" name="productId" value="{{../../product.id}}" />
        <button class="btn btn-danger btn-sm" type="submit">刪除</button>
      </form>
      {{/if}}
    </div>
    {{/each}}
    {{#if ../user.role}}
    <form action="/admin/reply" method="POST" class="mb-2">
      <div class="form-group">
        <textarea class="form-control" id="adminReply" name="adminReply" rows="3"></textarea>
      </div>
      <input type="hidden" name="commentId" value="{{this.id}}">
      <input type="hidden" name="productId" value="{{../product.id}}" />
      <button class="btn btn-primary">送出</button>
    </form>
    {{/if}}
    {{/each}}
  </div>
  <div class="write-comment">
    <h2>留下評論</h2>
    <hr>
    <form action="/comment" method="POST">
      <span>評分</span>
      <span id="result">
        <ul id="star" class="pl-0">
          {{#each rank}}
          <label>
            <li>★</li>
            <input type="radio" name="ranking" value='{{this}}' style="display: none">
          </label>
          {{/each}}
        </ul>
      </span>
      <div class="form-group">
        <textarea class="form-control" id="content" name="content" rows="3"></textarea>
      </div>
      <input type="hidden" name="productId" value="{{product.id}}" />
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>

<style>
  .ratings {
    position: relative;
    vertical-align: middle;
    display: inline-block;
    color: #ddd;
    /*背景星星顏色*/
    overflow: hidden;
    font-size: 30px;
    /*調整字體大小可放大縮小星星*/
    text-shadow: 0px 1px 0 #999;
  }

  .full_star {
    /*調整寬度可變更星等*/
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
    overflow: hidden;
    color: #d56a16;
    /*前景星星顏色*/
  }
</style>