<div class="container">
  <ul class="list-group mt-3">
    <li class="list-group-item">
      <h3>名稱: {{user.name}}</h3>
    </li>
    <li class="list-group-item">
      <h3>生日: {{user.birthday}}</h3>
    </li>
    <li class="list-group-item">
      <h3>E-mail: {{user.email}}</h3>
    </li>
    <li class="list-group-item">
      <h3>電話: {{user.phone}}</h3>
    </li>
    <li class="list-group-item">
      <h3>聯絡地址: {{user.address}}</h3>
    </li>
  </ul>
  <div class="buttons d-flex justify-content-around mt-3">
    <a href="/user/{{user.id}}/edit" class="btn btn-primary">編輯</a>
    <a href="/" class="btn btn-primary">上一頁</a>
  </div>
</div>